* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0a0a0a;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.overlay {
    position: fixed;
    inset: 0;
    background: radial-gradient(circle at center,
        rgba(255,165,0,0.1),
        rgba(0,0,0,0.95)
    );
    pointer-events: none;
}

.container {
    position: relative;
    z-index: 1;
}

.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    background: url("../../images/modes/3v3.png") center/cover no-repeat;
    position: relative;
    border-radius: 30px;
}

.hero::before {
    border-radius: 30px;
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

.hero h1 {
    font-size: 70px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 4px;
    color: orange;
    text-shadow: 0 0 20px rgba(255,165,0,0.5);
    z-index: 2;
}

.hero p {
    z-index: 2;
    color: rgba(255,255,255,0.8);
    font-size: 16px;
}

.hero h1 {
    font-size: 70px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 4px;
    color: orange;
    text-shadow: 0 0 20px rgba(255,165,0,0.5);
    z-index: 2;
}

.hero p {
    z-index: 2;
    color: rgba(255,255,255,0.8);
    font-size: 16px;
}

section {
    padding: 80px 60px;
    max-width: 1000px;
    margin: auto;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    color: orange;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(255,165,0,0.3);
}

p {
    color: rgba(255,255,255,0.85);
    line-height: 1.7;
    font-size: 15px;
}

.why {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    flex: 1;
    min-width: 250px;
    padding: 25px;
    border-radius: 12px;
    background: rgba(255,255,255,0.03);
    border: 1px solid rgba(255,165,0,0.15);
    transition: 0.3s;
}

.box:hover {
    transform: translateY(-10px) scale(1.03);
    border-color: orange;
    box-shadow: 0 0 25px rgba(255,165,0,0.25);
}

.culture {
    background: linear-gradient(135deg, #111, #0a0a0a);
    border-left: 4px solid orange;
    padding: 40px;
    border-radius: 10px;
}

.highlight {
    text-align: center;
    padding-bottom: 100px;
}

.highlight h2 {
    font-size: 45px;
}

.hero,
section {
    animation: fadeUp 1s ease both;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}